step-functions/face_detection_step_fn_2.json
{
    "Comment": "Rider photo processing workflow",
    "StartAt": "FaceDetection",
    "States": {
        "FaceDetection": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-west-2:392658218916:function:face_detection",
            "ResultPath": "$.detectedFaceDetails",
            "Next": "CheckFaceDuplicate",
            "Catch": [
                {
                    "ErrorEquals": [
                        "PhotoDoesNotMeetRequirementError"
                    ],
                    "ResultPath": "$.errorInfo",
                    "Next": "PhotoDoesNotMeetRequirement"
                }
            ]
        },
        "PhotoDoesNotMeetRequirement": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-west-2:392658218916:function:failure_notification",
            "End": true
        },
        "CheckFaceDuplicate": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-west-2:012345678912:function:wild-ryde-step-module-FaceSearchFunction-1IT67V4J214DC",
            "ResultPath": null,
            "End": true,
            "Catch": [
                {
                    "ErrorEquals": [
                        "FaceAlreadyExistsError"
                    ],
                    "ResultPath": "$.errorInfo",
                    "Next": "PhotoDoesNotMeetRequirement"
                }
            ]
        }
    }
}